<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="{{ asset('build/images/Quai_Antique_Noir.png') }}" alt="ACME logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home.index') }}">
						Accueil
						<span class="visually-hidden">
							(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('carte.index') }}">
						La carte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('reservation.index') }}">
						Réserver</a>
				</li>
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">
					{% if app.user %}
						<li class="nav-item dropdown" style="margin-right: 8rem;">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true">{{app.user.name}}
								{{app.user.lastname}}
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
								<a class="dropdown-item" href="{{ path('my_reservation.index', {id : app.user.id}) }}">Mes réservations</a>
								<div class="dropdown-divider"></div>
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<a class="dropdown-item" href="{{ path('admin.index') }}">Administration</a>
									<div class="dropdown-divider"></div>
								{% endif %}
								<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="{{ path('security.registration') }}">
								<button type="button" class="btn btn-secondary m-4">S'inscrire</button>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('security.login') }}">
								<button type="button" class="btn btn-primary m-4">Se connecter</button>
							</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</nav>
