{% extends 'base.html.twig' %}

{% block title %}Liste des horaires!
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Les horaires</h1>
        <div class="list-group mt-4">
            {% for restaurantHour in restaurantHours %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ restaurantHour.day }}</h5>
                        <div class="flex-column">
                            <small class="text-muted">{{ restaurantHour.openingLunch | date('H:i') }}
                                -
                                {{ restaurantHour.closingLunch | date('H:i') }}
                            </small>
                            <small class="text-muted">{{ restaurantHour.openingDinner | date('H:i') }}
                                -
                                {{ restaurantHour.closingDinner | date('H:i') }}
                            </small>
                        </div>
                    </div>
                    <p class="mb-1">Places disponible pour le service du midi
                        {{ restaurantHour.placesAvailableLunch }}</p>
                    <p class="mb-1">Places disponible pour le service du soir
                        {{ restaurantHour.placesAvailableDinner }}</p>
                </div>
                <pre>
                    {{ dump(restaurantHour.day, restaurantHour.numberMaxGuests) }}
                </pre>

            {% endfor %}
        </div>
    </div>
{% endblock %}
